<h1>Skill</h1>
<ul>
  <li>Name: <%= @skill.name%></li>
  <%= link_to "Update Skill", "/skills/#{@skill.id}/edit"%><br>
  <%= link_to "Delete Skill", skill_path(@skill),
                            :data => {:confirm => "Are You Sure?",
                                      :method => "delete"}%>
</ul>
